h1 {
    text-align: center;
    color: red;
    margin-top: 10px;
}
.image-container {
    text-align: center; /* Center the contents horizontally */
}
.image-container img {
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
}
nav{
    text-align: center;
}
